$blue-color: #153A59;
$royal-blue-color: #2464B0;
$light-blue-color: #B5CBEA;
$pink-color: #F0508A;
$medium-violet-color: #B93E73;
$light-slate-gray-color: #D7DCE1;
$white-smoke-color: #F5F5F5;
$alice-blue-color: #F7F9FA;
$ghost-white-color: #F8F9FA;
$floral-white-color: #F6F8F9;
$white-color: #FFFFFF;
.pb-35px {
    padding-bottom: 35px;
}

.py-54px {
    padding: 54px 0;
}

.mt-170px {
    margin-top: 170px;
}

.bg-light {
    background: linear-gradient(90deg, rgba(248, 249, 250, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

@media (max-width: 768px) {
    .bg-light {
        background: none;
        background-color: $ghost-white-color!important;
    }
}

.bg-body {
    background-color: $ghost-white-color!important;
}

.bg-white {
    background-color: $white-color!important;
}

.bg-primary {
    background-color: $blue-color!important;
}

.bg-blue {
    background-color: $alice-blue-color;
}

.font-weight-500 {
    font-weight: 500!important;
}

.font-weight-700 {
    font-weight: bold!important;
}

.font-size-14 {
    font-size: 14px!important;
}

.font-size-16 {
    font-size: 16px!important;
}

.font-size-18 {
    font-size: 18px!important;
}

.font-size-20 {
    font-size: 20px!important;
}

.font-size-24 {
    font-size: 24px!important;
}

.text-white {
    color: $white-color!important;
}

.text-primary {
    color: $blue-color!important;
}

.text-pink {
    color: $pink-color!important;
}